{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
{% set breadcrumbs = [('Home', 'index'), ('Decks', 'decks.list'), (title)] %}
{% include "components/breadcrumb.html" %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", rows=3) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.creator.label(class="form-label") }}
                            {{ form.creator(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.player.label(class="form-label") }}
                            {{ form.player(class="form-control") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.tipo.label(class="form-label") }}
                            {{ form.tipo(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.tags.label(class="form-label") }}
                            {{ form.tags(class="form-control") }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.code.label(class="form-label") }}
                        {{ form.code(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.preconstructed(class="form-check-input") }}
                        {{ form.preconstructed.label(class="form-check-label") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('decks.my_decks') }}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}